<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wym.demophoneinfo.dao.InformationsMapper">
    <select id="findInformationList" resultType="com.wym.demophoneinfo.pojo.Informations">
       select * from informations order by lastPostTime desc
    </select>
    <select id="findinformationById" resultType="com.wym.demophoneinfo.pojo.Informations">
        select * from informations where id=#{id}
    </select>
    <update id="updateInfoCount">
        update  informations set viewCount=viewCount+1 where id=#{id}
    </update>
    <update id="updateInfoReplyCount">
        update informations set replyCount=replyCount+1,lastPostTime=#{lastPostTime} where id=#{id}
    </update>


</mapper>